.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  padding: 10px;
  border-top: 3px solid var(--logo-blue);
  margin-bottom: 16px;
  background-color: #f1f1f1;
  font-size: 14px;
}

.top {
  display: flex;
  gap: 2px;
}

.bottom {
  display: flex;
  padding: 0px 4px;
}

.bottom > img {
  width: 34px;
}